body {
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Merriweather', serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'PT Sans', sans-serif; */
    /* font-family: 'PT Sans Narrow', sans-serif; */
}

header {
    font-family: 'Merriweather', serif;
}

/*************************************
  Search Options Section
**************************************/
input[type=text] {
    font-size: 17px;
    border: none;
  }
  
.search-container {
    float: right;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

/* remove the blue border onfocus */
#input-startdate:focus, 
#input-enddate:focus,
#add-artist:focus,
#input-artist:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#add-artist.focus, #add-artist:focus {
    background: #ccc;
}

/******************************/
/* Social Media               */
/******************************/

/* remmove the underlines */
#section-connect * a { text-decoration-line: none };

/* FB icon doesn't show without this, odd */
.fab:hover { opacity: 0.8; }

/* Set a specific color for each social media brand */
.fa-facebook { color: #3B5998; }
.fa-twitter { color: #55ACEE; }
.fa-google-plus { color: #dd4b39; }
.fa-linkedin { color: #007bb5; }
.fa-pinterest { color: #cb2027; }
.fa-instagram { color: #125688; }
.fa-spotify { color: #1db954; }

/**********************************************************/
/* TODO: logic below to be removed only for testing giphy */
/**********************************************************/
#gifs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-auto-flow: dense;
    grid-gap: 40px;
}